/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
body {
	color: red;	
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: red;
  margin: 40px 0px 70px;
  text-align: center;
}

div
{
	font-weight: bold;
	color: red;
}

.sendButton {
  display: block;
  font-size: 16pt;
  align: center;
}

/** Most GWT widgets already have a style name defined */
.gwt-RootPanel{
	/** background-color: maroon */
}
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
