<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>ISPDB</servlet-name>
    <servlet-class>com.SM.ISP.server.ISPDB</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ISPDB</servlet-name>
    <url-pattern>/gwtisp/db</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GWTISP.html</welcome-file>
  </welcome-file-list>

</web-app>
